<h1><%= t('views.common.title_edit', item: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('views.common.link_to_show'), @book %> |
  <%= link_to t('views.common.link_back_to_index', item: Book.model_name.human), books_path %>
</nav>
